<ErrorBoundary @ref=@ErrorBoundary>
    <ChildContent>
        <CodeMirror6WrapperInternal
            @ref=@CodeMirror6WrapperInternalRef
            AdditionalAttributes="@AdditionalAttributes"
            AllowHorizontalResize="@AllowHorizontalResize"
            AllowVerticalResize="@AllowVerticalResize"
            AutoFormatMarkdown="@AutoFormatMarkdown"
            ContentAfter="@ContentAfter"
            ContentBefore="@ContentBefore"
            Doc="@Doc"
            DocChanged="@DocChanged"
            Editable="@Editable"
            FocusChanged="@FocusChanged"
            GetMentionCompletions="@GetMentionCompletions"
            Id="@Id"
            IndentationUnit="@IndentationUnit"
            IsWASM="@IsWASM"
            Language="@Language"
            LineWrapping="@LineWrapping"
            LintDocument="@LintDocument"
            MarkdownStylesAtSelectionsChanged="@MarkdownStylesAtSelectionsChanged"
            Placeholder="@Placeholder"
            ReadOnly="@ReadOnly"
            ReplaceEmojiCodes="@ReplaceEmojiCodes"
            Selection="@Selection"
            SelectionChanged="@SelectionChanged"
            Setup="@Setup"
            TabSize="@TabSize"
            Theme="@Theme"
            UploadBrowserFile="@UploadBrowserFile"
            UploadFile="@UploadFile"
            MergeViewConfiguration="@MergeViewConfiguration"
        />
    </ChildContent>
    <ErrorContent Context="c">
        <p class="alert alert-danger my-2" role="alert">
            An error occurred while loading the editor:
            <p>
                Message:
                <pre>
                    @c.Message
                </pre>
            </p>
            <p>
                Source:
                @(c.Source)
            </p>
            <p>
                StackTrace:
                <pre>
                    @(c.StackTrace)
                </pre>
            </p>
        </p>
    </ErrorContent>
</ErrorBoundary>
