<h1>Code Mirror 6 Wrapper Demo</h1>

<label for="Theme">Theme</label>
<select @bind=@Theme id="Theme">
    @foreach (var theme in Enum.GetValues(typeof(ThemeMirrorTheme)))
    {
        <option value="@theme">@theme</option>
    }
</select>

<label for="Language">Language</label>
<select @bind=@Language id="Language">
    @foreach (var language in Enum.GetValues(typeof(CodeMirrorLanguage)))
    {
        <option value="@language">@language</option>
    }
</select>

<label for="tabSizeInput">TabSize:</label>
<input id="tabSizeInput" @bind-value=TabSize @bind-value:event="oninput" type="number" min="1" max="8" step="1" />

<label for="AutoFormatMarkdown">Auto-Format Markdown</label>
<input id="AutoFormatMarkdown" type="checkbox" @bind=@AutoFormatMarkdown />

<button class="btn btn-danger"
    @onclick=@(async () => {
        Text = code.Replace("\r", "");
        await InvokeAsync(StateHasChanged);
    })
>Reset text</button>

<CodeMirror6Wrapper
    @bind-Doc=@Text
    Placeholder="Enter your code.... (1)"
    TabSize=@TabSize
    @bind-Selection=@selectionRanges1
    Theme=@Theme
    Language=@Language
    AutoFormatMarkdown=@AutoFormatMarkdown
    LintDocument=@LintDocument
    Setup=@Setup
    ReplaceEmojiCodes=@ReplaceEmojiCodes
    GetMentionCompletions=@GetMentionCompletions
    style="max-width: 100%; min-height: 40em; "
>
    <ContentBefore Context="c">
        <div class="alert alert-info mt-3">
            <button class=@ButtonClass(c.State, "StrongEmphasis") @onclick=@(() => c.Commands.Dispatch(CodeMirrorSimpleCommand.ToggleMarkdownBold)) title="Toggle bold text (Ctrl-B)">
                Bold
            </button>
            <button class=@ButtonClass(c.State, "Emphasis") @onclick=@(() => c.Commands.Dispatch(CodeMirrorSimpleCommand.ToggleMarkdownItalic)) title="Toggle italic text (Ctrl-I)">
                Italic
            </button>
            <button class=@ButtonClass(c.State, "Strikethrough") @onclick=@(() => c.Commands.Dispatch(CodeMirrorSimpleCommand.ToggleMarkdownStrikethrough)) title="Toggle strike-through text">
                Strikethrough
            </button>
            <button class=@ButtonClass(c.State, "InlineCode") @onclick=@(() => c.Commands.Dispatch(CodeMirrorSimpleCommand.ToggleMarkdownCode)) title="Toggle inline code text">
                Code
            </button>
            <button class=@ButtonClass(c.State, "FencedCode") @onclick=@(() => c.Commands.Dispatch(CodeMirrorSimpleCommand.ToggleMarkdownCodeBlock)) title="Toggle code block text">
                Code block
            </button>
            <button class=@ButtonClass(c.State, "Blockquote") @onclick=@(() => c.Commands.Dispatch(CodeMirrorSimpleCommand.ToggleMarkdownQuote)) title="Toggle quoted text">
                Quote
            </button>
            <button class=@ButtonClass(c.State, "ATXHeading") @onclick=@(() => c.Commands.Dispatch(CodeMirrorSimpleCommand.IncreaseMarkdownHeadingLevel)) title="Increase Markdown heading level">
                Increase heading level
            </button>
            <button class=@ButtonClass(c.State, "ATXHeading") @onclick=@(() => c.Commands.Dispatch(CodeMirrorSimpleCommand.DecreaseMarkdownHeadingLevel)) title="Decrease Markdown heading level">
                Decrease heading level
            </button>
            @for (var i = 1; i <= 6; i++) {
                var headingLevel = i; // Capture the current value of i in a local variable
                <button class=@ButtonClass(c.State, $"ATXHeading{headingLevel}") @onclick=@(() => c.Commands.Dispatch(CodeMirrorCommandOneParameter.ToggleMarkdownHeading, headingLevel)) title="Toggle heading text">
                    @($"H{headingLevel}")
                </button>
            }
            <button class=@ButtonClass(c.State, "OrderedList") @onclick=@(() => c.Commands.Dispatch(CodeMirrorSimpleCommand.ToggleMarkdownOrderedList)) title="Toggle ordered list">
                Ordered list
            </button>
            <button class=@ButtonClass(c.State, "BulletList") @onclick=@(() => c.Commands.Dispatch(CodeMirrorSimpleCommand.ToggleMarkdownUnorderedList)) title="Toggle unordered list">
                Bullet list
            </button>
            <button class=@ButtonClass(c.State, "Task") @onclick=@(() => c.Commands.Dispatch(CodeMirrorSimpleCommand.ToggleMarkdownTaskList)) title="Toggle task list">
                Task list
            </button>
            <button class="btn" @onclick=@(() => c.Commands.Dispatch(CodeMirrorCommandOneParameter.InsertOrReplaceText, "test")) title="Insert or replace text">
                Insert or replace text
            </button>
            <button class="btn" @onclick=@(() => c.Commands.Dispatch(CodeMirrorCommandOneParameter.InsertTextAbove, "\n------\n")) title="Insert separator above">
                Insert separator above
            </button>
            <button class=@ButtonClass(ReplaceEmojiCodes) @onclick=@(() => ToggleEmojis(c.Commands)) title="Toggle replacing :emoji_codes: with the unicode character">
                Replace emojis
            </button>
        </div>
    </ContentBefore>
</CodeMirror6Wrapper>

Result:
<pre>@Text</pre>
<hr />

@if (selectionRanges1 is not null) {
    <div>
        Selection ranges:
    </div>
    @foreach(var range in selectionRanges1) {
        <div>
            From @range.From
            To @range.To
        </div>
    }
    <hr />
}

<CodeMirror6Wrapper
    Placeholder="Enter your code.... (2)"
    @bind-Doc=@Text2
    @bind-Selection=@selectionRanges2
    Theme=@Theme
    Language=@CodeMirrorLanguage.Markdown
    AutoFormatMarkdown=@AutoFormatMarkdown
    LintDocument=@LintDocument
/>

Result:
<pre>@Text2</pre>
<hr />

@if (selectionRanges2 is not null) {
    <div>
        Selection ranges:
    </div>
    @foreach(var range in selectionRanges2) {
        <div>
            From @range.From
            To @range.To
        </div>
    }
    <hr />
}

<CodeMirror6Wrapper
    @bind-Doc=@Text3
    Placeholder=@PlaceHolderText
    @bind-Selection=@selectionRanges3
    Theme=@Theme
    Language=@CodeMirrorLanguage.Markdown
    AutoFormatMarkdown=@AutoFormatMarkdown
    LintDocument=@LintDocument
/>

Result:
<pre>@Text3</pre>
<hr />

@if (selectionRanges3 is not null) {
    <div>
        Selection ranges:
    </div>
    @foreach(var range in selectionRanges3) {
        <div>
            From @range.From
            To @range.To
        </div>
    }
    <hr />
}

<button class="btn"
    @onclick=@(async () => {
        PlaceHolderText = NewPlaceHolderText;
        await InvokeAsync(StateHasChanged);
    })
>Change placeholder text</button>


@code
{
    private string? Text = code;
    private string? Text2 = "# Example 2";
    private string? Text3;
    private int TabSize = 4;
    private List<SelectionRange>? selectionRanges1;
    private List<SelectionRange>? selectionRanges2;
    private List<SelectionRange>? selectionRanges3;
    private string PlaceHolderText = "Enter your code.... (3)";
    private string NewPlaceHolderText = "New placeholder text !";
    private ThemeMirrorTheme Theme = ThemeMirrorTheme.OneDark;
    private CodeMirrorLanguage Language = CodeMirrorLanguage.Markdown;
    private bool AutoFormatMarkdown = true;
    private bool ReplaceEmojiCodes = false;
    private readonly CodeMirrorSetup Setup = new() {
        HighlightActiveLine = false,
        LineNumbers = true,
        HighlightActiveLineGutter = false,
        HighlightSelectionMatches = false,
    };
    private string ButtonClass(CodeMirrorState state, string docStyleTag) => ButtonClass(state.MarkdownStylesAtSelections?.Contains(docStyleTag) == true);
    private string ButtonClass(bool enabled) => enabled
        ? "btn btn-primary"
        : "btn";

    private async Task ToggleEmojis(CMCommands commands)
    {
        ReplaceEmojiCodes = !ReplaceEmojiCodes;
        await commands.Dispatch(CodeMirrorSimpleCommand.Focus);
    }

    private Task<List<CodeMirrorDiagnostic>> LintDocument(string code, CancellationToken cancellationToken)
    {
        var result = new List<CodeMirrorDiagnostic>();
        var position = 0;
        foreach (var line in code.Split('\n')) {
            cancellationToken.ThrowIfCancellationRequested();
            if (line.Contains("error")) {
                result.Add(
                    new CodeMirrorDiagnostic {
                        From = position + line.IndexOf("error"),
                        To = position + line.IndexOf("error") + "error".Length,
                        Severity = "error",
                        Message = "Error message",
                        Source = "Custom linter"
                    }
                );
            }
            position += line.Length + 1;
        }
        return Task.FromResult(result);
    }

    private static async Task<List<CodeMirrorCompletion>> GetMentionCompletions()
    {
        return await Task.FromResult<List<CodeMirrorCompletion>>(
            [
                new CodeMirrorCompletion {
                    Label = "abc",
                    Detail = "Alice",
                    Info = "Alice is a person",
                    // Type = "variable"
                },
                new CodeMirrorCompletion {
                    Label = "bcd",
                    Detail = "Bob",
                    Info = "Bob is a person",
                    // Type = "variable"
                },
                new CodeMirrorCompletion {
                    Label = "cde",
                    Detail = "Carol",
                    Info = "Carol is a person",
                    // Type = "variable"
                },
                new CodeMirrorCompletion {
                    Label = "def",
                    Detail = "Dave",
                    Info = "Dave is a person",
                    // Type = "variable"
                },
                new CodeMirrorCompletion {
                    Label = "eee",
                    Detail = "Eve",
                    Info = "Eve is a person",
                    // Type = "variable"
                },
                new CodeMirrorCompletion {
                    Label = "fff",
                    Detail = "Frank",
                    Info = "Frank is a person",
                    // Type = "variable"
                },
                new CodeMirrorCompletion {
                    Label = "ggg",
                    Detail = "Grace",
                    Info = "Grace is a person",
                    // Type = "variable"
                },
                new CodeMirrorCompletion {
                    Label = "hhh",
                    Detail = "Heidi",
                    Info = "Heidi is a person",
                    // Type = "variable"
                },
                new CodeMirrorCompletion {
                    Label = "Ivan",
                    Detail = "Ivan",
                    Info = "Ivan is a person",
                    // Type = "variable"
                },
                new CodeMirrorCompletion {
                    Label = "Judy",
                    Detail = "Judy",
                    Info = "Judy is a person",
                    // Type = "variable"
                },
                new CodeMirrorCompletion {
                    Label = "Mallory",
                    Detail = "Mallory",
                    Info = "Mallory is a person",
                    // Type = "variable"
                },
                new CodeMirrorCompletion {
                    Label = "Oscar",
                    Detail = "Oscar",
                    Info = "Oscar is a person",
                    // Type = "variable"
                },
                new CodeMirrorCompletion {
                    Label = "Peggy",
                    Detail = "Peggy",
                    Info = "Peggy is a person",
                    // Type = "variable"
                },
            ]
        );
    }
}
